body{
  background-color: #023F6A;
  font-family: sans-serif;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
textarea{
  width:50%;
  height: 30vh;
  background-color: rgb(21, 32, 43);
  color: #fff;
  outline: none;
  border: none;
  resize: none;
  padding: 0.4rem;
}
textarea::placeholder{
    color:#fff;
}
#counterFooter {
  margin: 0.2rem;
  font-size:0.8rem;
  color: #fff;
  font-weight: bold;
  margin-left: 30%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
  background-color: rgb(29, 161, 242);
  border-radius: 10px;
  padding: 0.2rem 2rem;
  border: none;
}
button h2{
    font-size: 1rem;
    color: #fff;
    margin: 0px;

}
.buttonDisabled {
   opacity: .5;
   cursor: default;
}
